body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222831;
  color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: transform 1.5s, background-color 1.5s;
  transform-style: preserve-3d;
  margin: 5px;
  border-radius: 5px;
}

input#wordInput {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.key {
  /* background-color: #818384; */
  /* color: #f0f0f0; */
  width: 46px;
  height: 60px;
  margin: 5px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#enter {
  width: 158px;
  height: 60px;
}
